import Config

config :water_cooler, WaterCooler.Repo,
  username: "postgres",
  password: "postgres",
  database: "water_cooler_dev",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10
